/*GENERAL CSS*/
.header {
    margin: 0px;
    padding: 20px;
    background-color: black;
    color: lightgray;
    width: 100%;
}
body {
    background: #3e3e42;
}
/*CARDS GENERAL*/
.cardTitle {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
/*FOOTER*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: black;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    font-size: 1.25rem;
}
/*CONTENT NAME GENERAL*/
.pageName {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 225px;
    background: black;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px;
    color: #3e3e42;
    font-style: italic;
    margin-bottom: 25px;
    }
/*CULTURE PICS*/
.picContainer {
    width: 80%;
    margin: auto;
}
#culturepic {
    display: flex;
    margin: auto;
    border-radius: 5px;
    max-width: 100%;
}
#culturepic2 {
    display: flex;
    margin: auto;
    border-radius: 5px;
    max-width: 60%;
}
/*CULTURE WRITEUP*/
.writeup {
    display: flex;
    margin: auto;
    background-color: darkgray;
    border-radius: 5px;
}
/*COLLAPSIBLE CONTENT*/
.accordion {
margin: auto;
}
.centerscreen {
width: 100px;
margin: auto;
}
/*MOBILE MEDIA QUERY*/
@media screen and (max-device-width: 768px)
{
    /*HEADER TYPOGRAPHY & FLAG*/
    .flag {
        max-height: 100px;
    }
    h1 {
        font-size: 3rem;
        display: inline-block;
        margin-left: 15px;
    }
    /*NAV TYPOGRAPHY*/
    #link {
        font-size: 1rem;
        }
    /*PAGE NAME TYPOGRAPHY*/
    .pageName {
    font-size: 2rem;
    }
}
/*TABLET MEDIA QUERY*/
@media screen and (min-device-width: 769px)
{
    /*HEADER TYPOGRAPHY & FLAG*/
    .flag {
        max-height: 150px;
    }
    h1 {
        font-size: 4.5rem;
        display: inline-block;
        margin-left: 15px;
    }
    /*CHANGES LAYOUT OF CARDS FROM MOBILE TO TABLET*/
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card {
        margin-top: 0px;
    }
    /*NAV TYPOGRAPHY*/
    #link {
    font-size: 1.5rem;
    }
    /*FOOTER*/
    .footer {
        margin-top: 25px;
    }
    .footer {
        font-size: 1.5rem;
    }
}
/*DESKTOP MEDIA QUERY*/
@media screen and (min-device-width: 1201px)
{
    /*HEADER TYPOGRAPHY & FLAG*/
    .flag {
        max-height: 200px;
    }
    h1 {
        font-size: 5rem;
        display: inline-block;
        margin-left: 15px;
    }
    /*NAV TYPOGRAPHY*/
    #link {
        font-size: 2rem;
        }
}