/*GENERAL CSS*/
.header {
    margin: 0px;
    padding: 20px;
    background-color: black;
    color: lightgray;
    width: 100%;
}
body {
    background: #3e3e42;
}
/*CARDS GENERAL*/
.cardTitle {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}

/*MOBILE*/
@media screen and (max-device-width: 768px)
{
    /*HEADER TYPOGRAPHY & FLAG*/
    .flag {
        max-height: 100px;
    }
    h1 {
        font-size: 3rem;
        display: inline-block;
        margin-left: 15px;
    }

}
/*TABLET*/
@media screen and (min-device-width: 769px)
{
    /*HEADER TYPOGRAPHY & FLAG*/
    .flag {
        max-height: 150px;
    }
    h1 {
        font-size: 4.5rem;
        display: inline-block;
        margin-left: 15px;
    }
    /*CHANGES LAYOUT OF CARDS FROM MOBILE TO TABLET*/
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card {
        margin-top: 0px;
    }
}
/*DESKTOP*/
@media screen and (min-device-width: 1201px)
{
    /*HEADER TYPOGRAPHY & FLAG*/
    .flag {
        max-height: 200px;
    }
    h1 {
        font-size: 5rem;
        display: inline-block;
        margin-left: 15px;
    }
}